<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a routerLink="/" class="d-flex align-items-center me-auto me-lg-0">
      <img style="width: 150px" src="logo.png" alt="ARATI - Gestão Ambiental">
    </a>

    <nav id="navbar" class="navbar">

      <ul>

        <li><a class="nav-link scrollto active" href="#hero">Arati</a></li>
        <li><a class="nav-link scrollto" href="#about">Equipe</a></li>
        <li><a class="nav-link scrollto" href="#services">Capacitação</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Consultoria</a></li>
        <li><a class="nav-link scrollto" href="#team">Equipe</a></li>
        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
        <li class="dropdown"><a href="#"><span>Cursos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Perícia Judicial Ambiental</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>-->

          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        <li><a class="getstarted scrollto" target="_blank"
            href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true">COMECE
            JÁ</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->