<footer id="footer">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 text-lg-left text-center">
                <div class="copyright">
                    &copy; copyright <strong>ARATI</strong> Todos os direitos reservados
                </div>
                <div class="copyright">
                    Powered by <strong>BORDERSBIZ e A&M TI</strong>
                </div>

            </div>
            <div class="col-lg-6">
                <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                    <a href="#intro" class="scrollto">ARATI</a>
                    <a href="#about" class="scrollto">Sobre</a>
                </nav>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->