<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">CURSO DE PERÍCIA JUDICIAL AMBIENTAL</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">O CURSO PARA VOCÊ SE TORNAR UM ASSISTENTE TÉCNICO
                    E UM PERITO JUDICIAL AMBIENTAL DE SUCESSO</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                    <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                        class="btn-get-started scrollto">INSCREVA-SE JÁ</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/home.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="pericia-judicial-ambiental" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Saiba Mais</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p>
                        Instruir os participantes para função da Perícia Judicial Ambiental e da Assistência Técnica
                        para temas ambientais à luz da Lei 13.105 de 16 de março de 2015 – Códigos de Processo Civil e a
                        Resolução Normativa no 233 de 13 de junho de 2016 do Conselho Nacional de Justiça – CNJ que
                        dispõe sobre a criação de cadastro de profissionais no âmbito da Justiça para colaboração
                        técnica na função de peritos no Brasil.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Datas: (Nova Turma em Breve)</li>
                        <li><i class="ri-check-double-line"></i> Horário: de 8:30h às 17:30h</li>
                        <li><i class="ri-check-double-line"></i> Carga Horária: 24 horas</li>
                        <li><i class="ri-check-double-line"></i> Com certificado</li>

                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        Ademais apresentar aos participantes os conhecimentos e as experiências sobre as ferramentas,
                        metodologias e tecnologias necessárias para o exercício da perícia tais como elaboração dos
                        laudos periciais e pareceres técnicos contemplando a multidisciplinaridade da perícia judicial
                        ambiental, envolvendo as áreas de Gestão Ambiental, Química, Geografia, Geoprocessamento e
                        Direto.
                        <br><br>
                        Nota: é necessário possuir curso superior. O Certificado será concedido para quem tiver 100% de
                        presença.
                    </p>
                    <a href="assets/files/Curso-de-Pericia_maio_22-EMENTA-1-3.pdf" download class="btn-learn-more">Baixe
                        a emente do curso</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <section id="counts" class="counts">
        <div class="container">

            <div class="row">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
                    data-aos="fade-right" data-aos-delay="150">
                    <youtube-player videoId="4aHN6XsXovc"> </youtube-player>
                </div>

                <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="row">

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="24"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Duração</strong> O curso tem como duração total 24h</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="1"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Certificado</strong> Ao final do curso o aluno recebe certificado</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Counts Section -->


    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Instrutores</h2>
                <p>Fique por dentro deste time de elite</p>
            </div>

            <div class="row align-items-stretch justify-content-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/curso/raimundo.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>MSc. Raimundo Junior</h4>
                            <span>Msc. Engenharia Ambiental-UERJ Gestor Ambiental - IFRJ</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/curso/viviane.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Viviane Logullo</h4>
                            <span>Msc. Engenharia Ambiental-UERJ Gestor Ambiental - IFRJ</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/curso/rafael.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>MSc. Rafael Caldeira</h4>
                            <span>Perito Judicial</span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/curso/luciene.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>DSc. Luciene Lima</h4>
                            <span>Perito Judicial</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/curso/johan.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Dr. Johan Trindade</h4>
                            <span>Perito Judicial</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/curso/juliana.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>MSc. Juliana Bustamante de Monti Souze</h4>
                            <span>Perito Judicial</span>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Team Section -->


    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <h2>Promoção</h2>
                <p>Confira os valores promocionais</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                        <h3>De</h3>
                        <h4><sup>R$</sup><s>1.490,00</s><span> / total</span></h4>


                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                        <h3>Por Apenas</h3>
                        <h4><sup>R$</sup>1.100,00<span> / total</span></h4>
                        <ul>
                            <li>Profissionais e Estudantes da Área Ambiental</li>
                            <li>Gestores Ambientais</li>
                            <li>Engenheiros: de Meio Ambiente, Agronomia, Cartógráfico, Florestal, Químico, Civil e
                                outras</li>
                            <li>Geografos, Geologos, Biólogos, Químicos, Advogados e áreas afins</li>

                        </ul>
                        <div class="btn-wrap">
                            <a target="_blank"
                                href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                                class="btn-buy">Me Inscrever</a>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Pricing Section -->

    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Local</h2>
                <p>Av. Treze de Maio, nº 13 Salas 1701 a 1703 <br> Centro – RJ CEP: 20.031-901</p>

            </div>

            <div class="row">




                <div class="col-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=Av.%20Treze%20de%20Maio,%20n%C2%BA%2013%20centro&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                href="https://www.whatismyip-address.com/divi-discount/">divi discount</a><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style><a href="https://www.embedgooglemap.net">google map coding</a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>