<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">ARATI - Gestão Ambiental</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Empresa de consultoria ambiental, auditoria e capacitação,
                    que busca clientes com perfil visionário e colaborativo</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                    <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                        class="btn-get-started scrollto">QUERO CONSULTORIA</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/home.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
        <div class="container">

            <div class="row">

                <div class="col-12">
                    <marquee>
                        <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                            target="_blank"><strong>CURSO DE PERÍCIA JUDICIAL AMBIENTAL: EM BREVE NOVA TURMA,
                                AGUARDEM. CLIQUE AQUI E FAÇA SUA
                                PRÉ-INSCRIÇÃO E OBTENHA UM DESCONTO NA MATRÍCULA</strong></a>
                    </marquee>
                </div>
            </div>


        </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Saiba Mais</h2>
            </div>

            <div class="row content">
                <div class="col-lg-12 d-flex align-items-stretch justify-content-center justify-content-xl-start"
                    data-aos="zoom-in-up" data-aos-delay="150">

                    <youtube-player videoId="0b2CXwMtEqA"> </youtube-player>


                </div>

            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">


                <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="65"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Clientes Felizes</strong> buscamos atender nossos clientes e instituições
                                        com eficiência e responsabilidade.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtext"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="85"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Projetos</strong> focados em soluções sustentáveis, auditorias e
                                        capacitação profissional</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="18"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Experiência</strong> há anos no setor ambiental, temos experiência para
                                        melhor atendê-lo</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="15"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Avaliações</strong> nosso time de auditores possui ampla experiência em
                                        auditorias avaliações ambientais e buscam proporcionar valorização aos negócios
                                        de nossos parceiros.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Nossos Produtos</h2>
                <p>Conheça um pouco mais dos nossos serviços</p>
            </div>

            <div class="section-title" data-aos="fade-up">
                <h2>Consultoria</h2>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">SUSTENTABILIDADE CORPORATIVA</h4>
                        <p class="description">Atuamos para implementar ações estruturadas à cultura da sua organização
                            aplicadas ao meio ambiente e aos tratos sociais, de forma a transformar a empresa em um
                            local sustentável e de crescimento humano</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title">INVENTÁRIO DE EMISSÕES DE GASES DO EFEITO ESTUFA (GEE)​</h4>
                        <p class="description">Ajudamos a identificar as fontes de emissão de GEE e levantamos a pegada
                            de carbono da empresa junto com você e seu time</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-calendar-check"></i></div>
                        <h4 class="title">MITIGAÇÃO DE EMISSÕES DE GEE</h4>
                        <p class="description">Após entender e realizar o levantamento da pegada de carbono da empresa
                            ajudaremos a reduzir e compensar as emissões de CO2</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-chalkboard"></i></div>
                        <h4 class="title">GESTÃO DE RESÍDUOS​</h4>
                        <p class="description">Buscamos reduzir o impacto ambiental na gestão de resíduos promovendo a
                            não geração, redução, reaproveitamento e reciclagem dos resíduos da sua organização</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title">GESTÃO DE EMISSÕES ATMOSFÉRICAS​</h4>
                        <p class="description">Colaboramos para a gestão de emissões atmosféricas da sua empresa atuando
                            com medições de poluentes e propondo ações de aprimoramento</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-analyse"></i></div>
                        <h4 class="title">GESTÃO DE EFLUENTES E RECURSOS HÍDRICOS</h4>
                        <p class="description">Buscamos soluções técnicas e sustentáveis para o tratamento de efluentes
                            e sistemas de reuso de água</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-donate-heart"></i></div>
                        <h4 class="title">GESTÃO AMBIENTAL TOTAL</h4>
                        <p class="description">Alinhamos ideias de Sustentabilidade e Eficiência Energética para você
                            produzir mais e poluir menos. E melhorias em Gestão de QSMS</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-leaf"></i></div>
                        <h4 class="title">ASSISTÊNCIA TÉCNICA EM PERÍCIA AMBIENTAL</h4>
                        <p class="description">Atuamos como Peritos e Assistentes Técnicos na Perícia Judicial Ambiental
                            com abordagem em variados temas ambientais da atualidade desde Avaliação de Impacto
                            Ambiental à Litígios Climáticos</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-bookmarks"></i></div>
                        <h4 class="title">LICENCIAMENTO AMBIENTAL</h4>
                        <p class="description">AAtuamos com profissionais experientes prontos para colaborar no
                            atendimento legal da sua organização</p>
                    </div>
                </div>

            </div>



        </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Capacitação</h2>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card" style='background-image: url("assets/img/more-services-1.jpg");'
                        data-aos="fade-up" data-aos-delay="100">
                        <div class="card-body">
                            <h5 class="card-title">Gestão em Resíduos</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="card" style='background-image: url("assets/img/more-services-2.jpg");'
                        data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body">
                            <h5 class="card-title">Licenciamento Ambiental</h5>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                doloremque laudantium, totam rem.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("assets/img/more-services-3.jpg");'
                        data-aos="fade-up" data-aos-delay="100">
                        <div class="card-body">
                            <h5 class="card-title">MASP</h5>
                            <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,
                                sed quia magni dolores.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("assets/img/more-services-4.jpg");'
                        data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body">
                            <h5 class="card-title">GRI</h5>
                            <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                                laudantium voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("assets/img/more-services-5.jpg");'
                        data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body">
                            <h5 class="card-title">Pale Treda</h5>
                            <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                                laudantium voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("assets/img/more-services-6.jpg");'
                        data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body">
                            <h5 class="card-title">Treinamento em QSMS</h5>
                            <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                                laudantium voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="card" style='background-image: url("assets/img/more-services-7.jpg");'
                        data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body">
                            <h5 class="card-title">Treinamento Company</h5>
                            <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                                laudantium voluptatem.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End More Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Auditoria</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Auditoria Interna</h5>
                            <p class="">As Auditorias Internas na Área Ambiental são feitas sobre demanda. Adequando-se
                                as necessidades específicas de cada organização objetivando metas específicas de:
                                qualidade e gestão, desempenho ambiental, cumprimento de Leis e Normas vigentes,
                                satisfação de públicos internos e externos, investidores e influenciadores</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Audioria Interna ISO 45001</h5>
                            <p class="">A ISO 450001 é uma Norma Internacional, que dentro do Sistema de Gestão de Saúde
                                e Segurança Ocupacional, que com ênfase na avaliação de risco e oportunidades, dentro do
                                ambiente operacional, almeja a melhoria do desempenho</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Auditoria Interna ISO 14001</h5>
                            <p class="">A ISO 14001, Norma Internacional, voltada para a coleta dos aspectos ambientais,
                                seus riscos e oportunidade, melhoria do desempenho ambiental, adequação as boas práticas
                                ambientais, melhoria da comunicação do desempenho ambiental com os investidores e o
                                mercado</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Auditoria de Fornecedores</h5>
                            <p class="">Controle sua cadeia produtiva, conhecendo toda a linha de fornecimento. A
                                corrente tem sua força no elo mais fraco</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Auditoria Compliance Ambiental</h5>
                            <p class="">Desenvolva todo o potencial da sua empresa. As Conformidades Legais, junto com
                                os Sistemas integrados de Gestão Ambiental, permite o controle de toda a cadeia
                                produtiva</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">Auditoria Compliance Ambiental</h5>

                            <p>Auditoria de Segunda Parte para verificação do atendimento de
                                padrões de sustentabilidade empresarial na Gestão de QSMS dos seus fornecedores</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">DZ 056 INEA-RJ</h5>
                            <p class="">De caráter obrigatório no Estado do Rio de Janeiro, para empresas, passívies de
                                licenciamento ambiental, é uma excelente oportunidade de averiguação dos aspectos e
                                implementação dos Sistemas Integrados de Gestão Ambiental (SGA)</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="">
                            <i class="ri-store-line" style="color: #ffbb2c;"></i>
                            <h5 class="">CONAMA 306</h5>
                            <p class="">É uma obrigação legal para empresas com grande potencial poluidor. Também se
                                tornando uma excelente instrumento de controle para as organizações de seus aspectos
                                ambientas e os devidos controles</p>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= 
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum
                                    suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                    Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum
                                    quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat
                                    irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem
                                    veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis
                                    sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim
                                    fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore
                                    quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor
                                    noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam
                                    esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section> End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>Vocês teriam imagens para colocar como portfolio?</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todas</li>
                        <li data-filter=".filter-app">Cursos</li>
                        <li data-filter=".filter-card">Consultorias</li>
                        <li data-filter=".filter-web">Projetos</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Equipe</h2>
                <p>Conheça os profissionais que fazem parte do nosso excelentíssimo time</p>
            </div>

            <div class="row align-items-stretch justify-content-center">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a><i class="bi bi-twitter"></i></a>
                                <a> <i class="bi bi-facebook"></i></a>
                                <a> <i class="bi bi-instagram"></i></a>
                                <a> <i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>RAFAEL CALDEIRA</h4>
                            <span>Msc. Engenharia Ambiental-UERJ Gestor Ambiental - IFRJ</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a> <i class="bi bi-twitter"></i></a>
                                <a> <i class="bi bi-facebook"></i></a>
                                <a> <i class="bi bi-instagram"></i></a>
                                <a> <i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>FELIPE CATORZA</h4>
                            <span>Msc. Engenharia Ambiental-UERJ Gestor Ambiental - IFRJ</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a> <i class="bi bi-twitter"></i></a>
                                <a> <i class="bi bi-facebook"></i></a>
                                <a> <i class="bi bi-instagram"></i></a>
                                <a> <i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>JORGE CHASTINET</h4>
                            <span>Gestor Ambiental - IFRJ e Corretor de Imóveis</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section =======
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <h2>Valores</h2>
                <p>Preços justos que cabem no seu bolso</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                        <h3>Free</h3>
                        <h4><sup>$</sup>0<span> / month</span></h4>
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li class="na">Pharetra massa</li>
                            <li class="na">Massa ultricies mi</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                        <h3>Business</h3>
                        <h4><sup>$</sup>19<span> / month</span></h4>
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li class="na">Massa ultricies mi</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                        <h3>Developer</h3>
                        <h4><sup>$</sup>29<span> / month</span></h4>
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li>Massa ultricies mi</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Perguntas Frequentes</h2>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>O curso é presencial?</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Não. O curso é totalmente online com toda atenção e dedicação de nossos profissionais
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>Como consigo falar sobre consultoria?</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Estamos sempre acessíveis, para falar conosco basta <a
                            href="whatsapp://send?abid=+5521996449321&text=Ol%C3%A1%2C%20estou%20entrando%20em%20contato%20pelo%20site">
                            clicar aqui</a>
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <!-- End F.A.Q Item-->

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contato</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>ARATI</h3>
                        <p>Nossa Equipe conta com um diversificado corpo de Consultores Associados nas mais diversas
                            áreas de atuação ambiental, agilizando assim, o suporte necessário às demandas dos nossos
                            clientes atuais e futuros</p>
                        <div class="social-links">
                            <a href="https://www.youtube.com/channel/UCgud6ICRNJ_EBKSsRUj3Qsw" class="youtube"><i
                                    class="bi bi-youtube"></i></a>
                            <a href="https://www.facebook.com/aratigestaoambiental/?ref=page_internal"
                                class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/arati.gestaoambiental/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/arati-gest%C3%A3o-ambiental/?originalSubdomain=br"
                                class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>Rua Professor Gabizo. 201/207<br>
                                Rio de Janeiro - RJ - Brasil - CEP: 20.271-064</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>contato@arati.eco.br</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>+55 21 99644 9321</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=Rua%20Professor%20Gabizo.%20201/207%20Rio%20de%20Janeiro%20-%20RJ%20-%20Brasi&t=&z=17&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                href="https://www.whatismyip-address.com"></a><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style><a href="https://www.embedgooglemap.net">add a google map to website</a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>