<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="text-center">
                    <h1 data-aos="fade-up">ARATI</h1>
                    <h1 data-aos="fade-up">GESTÃO AMBIENTAL</h1>
                </div>
                <h3 data-aos="fade-up" data-aos-delay="400">Serviços na área ambiental:</h3>
                <ul>
                    <li>Consultoria</li>
                    <li>Assessoria</li>
                    <li>Auditoria</li>
                    <li>Formações</li>
                </ul>
                <!--<div data-aos="fade-up" data-aos-delay="800">
                    <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                        class="btn-get-started scrollto">QUERO CONSULTORIA</a>
                </div>-->
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/home.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
        <div class="container">

            <div class="row">

                <div class="col-12">
                    <marquee>
                        <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                            target="_blank"><strong>CURSO DE PERÍCIA JUDICIAL AMBIENTAL: EM BREVE NOVA TURMA,
                                AGUARDEM. CLIQUE AQUI E FAÇA SUA
                                PRÉ-INSCRIÇÃO E OBTENHA UM DESCONTO NA MATRÍCULA</strong></a>
                    </marquee>
                </div>
            </div>


        </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="quemSomos" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Quem Somos</h2>
            </div>

            <div class="row content text-center">
                <div>Proposito</div>
                <div>VVVVVVVVVVVVVVVVVV</div>
                <div>História</div>
                <div>VVVVVVVVVVVVVVVVVV</div>

            </div>

        </div>
    </section><!-- End About Us Section -->


    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Equipe de especialistas</h2>
            </div>




            <div class="card float-right">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " src="assets/img/team/team-3.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>JORGE CHASTINET</h4>
                                <div style="text-align: justify;text-justify: inter-word;">Pesquisador no ramo de
                                    inovação de projetos, Gestor Ambiental de formação pelo Instituto Federal de
                                    Educação, Ciência e Tecnologia do Rio de Janeiro – IFRJ.<br />
                                    Empresário e fundador da Arati Gestão Ambiental é especialista em SIG, Sistemas de
                                    Informações Geográficas, Linguagem R e Tratamento de Efluentes e Monitoramento
                                    Atmosférico da Qualidade do Ar.<br />
                                    Experiência de mais de 40 anos no atendimento e na satisfação de stakeholders e na
                                    pesquisa Benchmarking temático setorial para a performance de indicadores de
                                    qualidade ambiental. É consultor em meio ambiente atuando em vários segmentos para
                                    empresas com atividades nas áreas naval, de defesa, farmacêuticas, alimentos e
                                    bebidas, comerciais e imobiliária. Assistente Técnico em Perícia Judicial. Escreveu
                                    artigos científicos na área de tratamento de efluentes e saneamento.


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card float-right">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " src="assets/img/team/team-1.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>M.Sc Rafael Caldeira</h4>
                                <div style="text-align: justify;text-justify: inter-word;">Mestrado em Engenharia
                                    Ambiental pela Universidade do Estado do Rio Janeiro, UERJ – RJ, graduado em
                                    Tecnologia de GESTÃO AMBIENTAL pelo Instituto Federal de Educação, Ciência e
                                    Tecnologia do Rio de Janeiro – IFRJ, Técnico Químico Industrial pelo CEFET Química,
                                    antiga Escola Técnica Federal de Química do Rio de Janeiro.
                                    Trabalha na área Química e Ambiental desde 2002, atuando em variados segmentos.
                                    Trabalhou no FEEMA, INEA e Transpetro.<br />
                                    Consultor e Auditor especialista em GESTÃO AMBIENTAL, Sustentabilidade, Emissões
                                    Atmosféricas, Emissões de Carbono e Mudanças Climáticas. Colabora com a Arati Gestão
                                    Ambiental ministrando treinamento e consultorias.<br />
                                    Realizou mais de 100 verificações e avaliações de Inventários Corporativos de
                                    Emissões de GEE incluindo os programas Global Reporting Initiative – GRI, Programa
                                    Brasileiro GHG Protocol da FGV, World Steel Association (WSA) e Carbon Disclosure
                                    Project (CDP), Programa Green Key, entre outros. Auditor Líder de Inventários
                                    Corporativos de Emissões de Gases de Efeito Estufa e Asseguração de Relatórios de
                                    Sustentabilidade no Brasil e no exterior. Rafael Caldeira é uma das referências na
                                    área de Emissões de Carbono no Brasil, tendo colaborado com as maiores
                                    certificadoras e organizações sobre o tema.<br />
                                    Experiências com relatório em sustentabilidade e inventários de GEE das corporações
                                    de vários segmentos, desde mineração, siderurgia, petrolífera, energia, química,
                                    farmacêutica alimentícias, saneamento e financeiras. Asseguração de metodologias de
                                    remoções de captura de CO2 com objetivo em gerações de créditos carbono e
                                    compensações de carbono, com base no REDD + e nos padrões VERRA – VCS.
                                    Participação como palestrante em eventos e seminários. Revisor Técnico dos
                                    Periódicos Científicos: Journal of Clean Production e o Journal of Environmental
                                    Management, contribuindo com suas experiências na pesquisa para os temas de produção
                                    mais limpa e sustentabilidade.<br />
                                    Conselheiro da Câmara Técnica de Meio Ambiente do Conselho Regional de Química do
                                    Estado do Rio Janeiro – CRQ III por quatro anos (2018-2022), contribuindo nas
                                    atividades relacionadas aos temas da química e meio ambiente
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card float-right">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " src="assets/img/team/team-2.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>M.Sc Felipe Catorza </h4>

                                <div style="text-align: justify;text-justify: inter-word;">Mestrado em Engenharia
                                    Ambiental, linha de pesquisa com especialização em Tratamento e Disposição Final de
                                    Resíduos Sólidos Urbanos. Pesquisa realizada com ênfase em Geração de Créditos de
                                    Carbono através de Compostagem e Redução de Emissão de Gases do Efeito Estufa - GEE
                                    (2020 – UERJ). Graduado em 2017 pelo Instituto Federal de Educação Ciência e
                                    Tecnologia do Rio de Janeiro (IFRJ) em GESTÃO AMBIENTAL.<br />
                                    Experiência de 10 anos na área de GESTÃO AMBIENTAL, sendo o último ano de carreira
                                    dedicado ao setor de finanças sustentáveis com foco em títulos temáticos com uma
                                    carteira com mais de 10 Pareceres de Segunda Opinião (SPO) para empresas dos setores
                                    energético, infraestrutura e saneamento.<br />
                                    Auditor Líder do Sistema de Gestão Integrado (SGI – ISO 9.001:2015; ISO 14.001:2015
                                    e ISO 45.001:2018), já atuou em auditorias de Sistema de GESTÃO AMBIENTAL, da
                                    Qualidade e de Segurança do Trabalho, bem como em realização de Due Diligences ESG,
                                    socioambientais e trabalhistas com base nos Padrões de Desempenho da International
                                    Finance Corporation (IFC) / Banco Mundial / Princípios do Equador em investidas por
                                    fundos de investimento.<br />
                                    Vasta experiência em QSMS, Licenciamento Ambiental, Auditoria QSMS e Perícia
                                    Ambiental, Soluções Técnicas em Meio Ambiente, Química Ambiental e Sustentabilidade

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </section>
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Nossas Soluções</h2>

            </div>

            <div class="section-title" data-aos="fade-up">
                <h3>Consultoria</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>


            </div>

            <div class="section-title mt-5" data-aos="fade-up">
                <h3>Assessoria</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>


            </div>


            <div class="section-title mt-5" data-aos="fade-up">
                <h3>Auditoria</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>


            </div>

            <div class="section-title mt-5" data-aos="fade-up">
                <h3>Formações</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-ball"></i></div>
                        <h4 class="title">vvvvvvvvvvvvvvvvvvvvvvv</h4>
                        <p class="description">vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
                    </div>
                </div>


            </div>





        </div>
    </section><!-- End Services Section -->



    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contato</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>ARATI</h3>
                        <p>Nossa Equipe conta com um diversificado corpo de Consultores Associados nas mais diversas
                            áreas de atuação ambiental, agilizando assim, o suporte necessário às demandas dos nossos
                            clientes atuais e futuros</p>
                        <div class="social-links">
                            <a href="https://www.youtube.com/channel/UCgud6ICRNJ_EBKSsRUj3Qsw" class="youtube"><i
                                    class="bi bi-youtube"></i></a>
                            <a href="https://www.facebook.com/aratigestaoambiental/?ref=page_internal"
                                class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/arati.gestaoambiental/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/arati-gest%C3%A3o-ambiental/?originalSubdomain=br"
                                class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>contato@arati.eco.br</p>
                        </div>

                        <div>
                            <i class="bi-whatsapp"></i>
                            <p>+55 21 99644 9321</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                    vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->








</main>