<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="text-center">
                    <h1 data-aos="fade-up">ARATI</h1>
                    <h1 data-aos="fade-up">GESTÃO AMBIENTAL</h1>
                </div>
                <h3 data-aos="fade-up" data-aos-delay="400">Serviços na área ambiental:</h3>
                <ul>
                    <li>Consultoria</li>
                    <li>Assessoria</li>
                    <li>Auditoria</li>
                    <li>Formações</li>
                </ul>
                <!--<div data-aos="fade-up" data-aos-delay="800">
                    <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                        class="btn-get-started scrollto">QUERO CONSULTORIA</a>
                </div>-->
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/home.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
        <div class="container">

            <div class="row">

                <div class="col-12">
                    <marquee>
                        <a href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                            target="_blank"><strong>CURSO DE PERÍCIA JUDICIAL AMBIENTAL: EM BREVE NOVA TURMA,
                                AGUARDEM. CLIQUE AQUI E FAÇA SUA
                                PRÉ-INSCRIÇÃO E OBTENHA UM DESCONTO NA MATRÍCULA</strong></a>
                    </marquee>
                </div>
            </div>


        </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Quem Somos</h2>
            </div>

            <div class="row content text-center">


                <div class="row">
                    <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bx bx-bar-chart-alt"></i></div>
                            <h4 class="title"><a href="">Proposito</a></h4>
                            <p class="description">Sustentabilidade como foco principal de nossas soluções para impactar
                                positivamente as partes
                                interessadas (Stakeholders) mitigando riscos e gerando valor compartilhado.
                                Trabalhar em busca de um modelo de desenvolvimento sustentável, com equilíbrio ambiental
                                e redução
                                das desigualdades</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Missão</a></h4>
                            <p class="description">Fornecer performance ambiental aos parceiros por meio das melhores
                                práticas e tecnologias
                                disponíveis, com otimização de custos operacionais, permitindo conquistar excelentes
                                resultados
                                financeiros. Por conseguinte, alavancar estratégias de vanguarda em sustentabilidade,
                                que reflitam
                                no desenvolvimento social e econômico, principalmente na região do entorno dos
                                empreendimentos
                                assessorados pela Arati</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bx bx-sun"></i></div>
                            <h4 class="title"><a href="">Visão</a></h4>
                            <p class="description"> Ser referência nacional na Gestão Ambiental, com desenvolvimento
                                sustentável e proteção, promoção e
                                valorização do meio ambiente natural e humano.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4 class="title"><a href="">Valores</a></h4>
                            <p class="description">Sustentabilidade no uso de recursos naturais;
                                Responsabilidade socioambiental;
                                Equilíbrio e melhoria da qualidade ambiental;
                                Diversidade e inclusão racial
                                Equidade no acesso aos serviços básicos;
                                Promoção do bem-estar, melhorando a qualidade de vida das pessoas.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End About Us Section -->

    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>História</h2>
            </div>

            <div class="row content text-center">
                <div>A ARATI Busca sistematicamente a satisfação do cliente, visando fornecer performance socioambiental
                    aos parceiros por meio das melhores práticas e rotas tecnológicas disponíveis, com otimização de
                    custos operacionais, possibilitando melhores resultados econômicos e financeiros. Integrando e
                    disseminando a sustentabilidade na empresa visando abranger as suas três dimensões: ambiental,
                    econômico e social </div>

            </div>
        </div>
    </section>



    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Equipe de especialistas</h2>
            </div>




            <div class="card float-right" style="background-color: #c0d391;">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " style="max-height: 95%;" src="assets/img/team/team-3.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>JORGE CHASTINET</h4>
                                <div style="text-align: justify;text-justify: inter-word;">Pesquisador no ramo de
                                    inovação de projetos, Gestor Ambiental de formação pelo Instituto Federal de
                                    Educação, Ciência e Tecnologia do Rio de Janeiro – IFRJ.<br />
                                    Empresário e fundador da Arati Gestão Ambiental é especialista em SIG, Sistemas de
                                    Informações Geográficas, Linguagem R e Tratamento de Efluentes e Monitoramento
                                    Atmosférico da Qualidade do Ar.<br />
                                    Experiência de mais de 40 anos no atendimento e na satisfação de stakeholders e na
                                    pesquisa Benchmarking temático setorial para a performance de indicadores de
                                    qualidade ambiental. É consultor em meio ambiente atuando em vários segmentos para
                                    empresas com atividades nas áreas naval, de defesa, farmacêuticas, alimentos e
                                    bebidas, comerciais e imobiliária. Assistente Técnico em Perícia Judicial. Escreveu
                                    artigos científicos na área de tratamento de efluentes e saneamento.


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card float-right" style="background-color: #c0d391;">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " style="max-height: 95%;" src="assets/img/team/team-1.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>M.Sc Rafael Caldeira</h4>
                                <div style="text-align: justify;text-justify: inter-word;">Mestrado em Engenharia
                                    Ambiental pela Universidade do Estado do Rio Janeiro, UERJ – RJ, graduado em
                                    Tecnologia de GESTÃO AMBIENTAL pelo Instituto Federal de Educação, Ciência e
                                    Tecnologia do Rio de Janeiro – IFRJ, Técnico Químico Industrial pelo CEFET Química,
                                    antiga Escola Técnica Federal de Química do Rio de Janeiro.
                                    Trabalha na área Química e Ambiental desde 2002, atuando em variados segmentos.
                                    Trabalhou no FEEMA, INEA e Transpetro.<br />
                                    Consultor e Auditor especialista em GESTÃO AMBIENTAL, Sustentabilidade, Emissões
                                    Atmosféricas, Emissões de Carbono e Mudanças Climáticas. Colabora com a Arati Gestão
                                    Ambiental ministrando treinamento e consultorias.<br />
                                    Realizou mais de 100 verificações e avaliações de Inventários Corporativos de
                                    Emissões de GEE incluindo os programas Global Reporting Initiative – GRI, Programa
                                    Brasileiro GHG Protocol da FGV, World Steel Association (WSA) e Carbon Disclosure
                                    Project (CDP), Programa Green Key, entre outros. Auditor Líder de Inventários
                                    Corporativos de Emissões de Gases de Efeito Estufa e Asseguração de Relatórios de
                                    Sustentabilidade no Brasil e no exterior. Rafael Caldeira é uma das referências na
                                    área de Emissões de Carbono no Brasil, tendo colaborado com as maiores
                                    certificadoras e organizações sobre o tema.<br />

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card float-right" style="background-color: #c0d391;">
                <div class="row member">
                    <div class="col-sm-5 member-img">
                        <img class="d-block w-100 " style="max-height: 95%;" src="assets/img/team/team-2.jpg" alt="">
                        <div class="social">
                            <a><i class="bi bi-twitter"></i></a>
                            <a> <i class="bi bi-facebook"></i></a>
                            <a> <i class="bi bi-instagram"></i></a>
                            <a> <i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="member-info">
                                <h4>M.Sc Felipe Catorza </h4>

                                <div style="text-align: justify;text-justify: inter-word;">Mestrado em Engenharia
                                    Ambiental, linha de pesquisa com especialização em Tratamento e Disposição Final de
                                    Resíduos Sólidos Urbanos. Pesquisa realizada com ênfase em Geração de Créditos de
                                    Carbono através de Compostagem e Redução de Emissão de Gases do Efeito Estufa - GEE
                                    (2020 – UERJ). Graduado em 2017 pelo Instituto Federal de Educação Ciência e
                                    Tecnologia do Rio de Janeiro (IFRJ) em GESTÃO AMBIENTAL.<br />
                                    Experiência de 10 anos na área de GESTÃO AMBIENTAL, sendo o último ano de carreira
                                    dedicado ao setor de finanças sustentáveis com foco em títulos temáticos com uma
                                    carteira com mais de 10 Pareceres de Segunda Opinião (SPO) para empresas dos setores
                                    energético, infraestrutura e saneamento.<br />
                                    Auditor Líder do Sistema de Gestão Integrado (SGI – ISO 9.001:2015; ISO 14.001:2015
                                    e ISO 45.001:2018), já atuou em auditorias de Sistema de GESTÃO AMBIENTAL, da
                                    Qualidade e de Segurança do Trabalho, bem como em realização de Due Diligences ESG,
                                    socioambientais e trabalhistas com base nos Padrões de Desempenho da International
                                    Finance Corporation (IFC) / Banco Mundial / Princípios do Equador em investidas por
                                    fundos de investimento.<br />
                                    Vasta experiência em QSMS, Licenciamento Ambiental, Auditoria QSMS e Perícia
                                    Ambiental, Soluções Técnicas em Meio Ambiente, Química Ambiental e Sustentabilidade

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </section>


    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Nossas Soluções</h2>

            </div>

            <div class="section-title" data-aos="fade-up">
                <h3>Consultoria</h3>
                <div class="button-curso ">
                    <div data-aos="fade-up">
                        <a target="_blank"
                            href="https://web.whatsapp.com/send?phone=5521996449321&text=Tenho%20interesse%20em%20saber%20mais%20sobre%20consultoria"
                            class="btn-get-started scrollto">QUERO CONSULTORIA</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-search-alt"></i></div>
                        <h4 class="title">Inventários de Gases de Efeito Estufa (GEE) </h4>
                        <p class="description">Elaboração de Inventários de GEE em conformidade com a Norma ISO 14064,
                            com nível de confiança e asseguração alinhado aos critérios das maiores certificadoras do
                            mercado credenciadas pelo INMETRO</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title">Plano de Mitigação de Emissões</h4>
                        <p class="description">Assessoramos ações para as reduções e remoções de GEE nas Organizações.
                            Assessoria em ações para as reduções e remoções de GEE nas Organizações.
                            O Plano de Mitigação de Emissões de GEE possibilita às organizações apresentarem ações em
                            prol da agenda climática e da eficiência energética.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-receipt"></i></div>
                        <h4 class="title">Relato SBTi</h4>
                        <p class="description">A Science Based Targets Initiative (SBTi) , é uma iniciativa que oferece
                            métodos e ferramentas para que empresas de diferentes portes estabeleçam metas de redução de
                            emissões de gases de efeito estufa (GEEs). Tais metas são alinhadas ao que a mais atual
                            ciência climática indica para alcançarmos os objetivos do Acordo de Paris, limitando o
                            aumento da temperatura global a muito abaixo dos 2°C e fazendo todo o possível para mantê-lo
                            em 1,5°C.
                            Apoiamos organizações durante todo o processo de definição e objetivos em relação ao
                            compromisso SBTi.
                            Apoio a organizações durante todo o processo de definição e objetivos em relação ao
                            compromisso SBTi.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-receipt"></i></div>
                        <h4 class="title">Relato CDP (Disclosure Project Action) </h4>
                        <p class="description">A Arati apoia sua organização na elaboração e reporte com o preenchimento
                            do Questionário CDP (Disclosure Project Action), padrão ouro de reporte em sustentabilidade,
                            pois possui um conjunto de dados ricos e abrangentes sobre ações corporativas e municipais,
                            que divulga globalmente a mensuração, o gerenciamento e compartilhamento de informações
                            relacionadas às emissões de GEE </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-badge"></i></div>
                        <h4 class="title">TCFD – Task Force on Climate-Related Financial Disclosure</h4>
                        <p class="description">O Plano de Risco Climático aborda a sensibilidade das atividades
                            econômicas frente às mudanças climáticas. Busca-se aprimorar uma visão de risco ao negócio
                            nas diversas atividades econômicas de forma a produzir as melhores práticas do
                            desenvolvimento sustentável.
                            Realizamos Consultoria para elaboração de programas estratégicos para temática mudanças
                            climáticas, tal como o relato do TCFD – Task Force on Climate-Related Financial Disclosure.
                            Consultoria para elaboração de programas estratégicos para temática mudanças climáticas, tal
                            como o relato do TCFD – Task Force on Climate-Related Financial Disclosure</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-receipt"></i></div>
                        <h4 class="title">Relatórios GRI</h4>
                        <p class="description">Elaboração de Relatórios de Sustentabilidade assegurados pelas maiores
                            certificadoras no mercado e realização de Benchmarking Temático Setorial para a performance
                            de indicadores de sustentabilidade</p>
                    </div>
                </div>



            </div>

            <div class="section-title mt-5" data-aos="fade-up">
                <h3>Assessoria</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-current-location"></i></div>
                        <h4 class="title">ASSISTÊNCIA TÉCNICA JUDICIAL AMBIENTAL</h4>
                        <p class="description">Atuamos como Peritos e Assistentes Técnicos na Perícia Judicial Ambiental
                            com abordagem em variados temas ambientais da atualidade, desde Avaliação de Impacto
                            Ambiental à Litígios Climáticos

                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-current-location"></i></div>
                        <h4 class="title">GESTÃO AMBIENTAL TOTAL</h4>
                        <p class="description">Alinhamos ideais de Sustentabilidade e Eficiência Energética para você
                            produzir mais e poluir menos, proporcionando também melhorias na Gestão de QSMS</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-current-location"></i></div>
                        <h4 class="title">LICENCIAMENTO AMBIENTAL</h4>
                        <p class="description">Atuamos com profissionais experientes prontos para colaborar no
                            atendimento legal da sua organização, incluindo Avaliação de aspectos e impactos ambientais
                        </p>
                    </div>
                </div>

            </div>


        </div>


        <div class="section-title mt-5" data-aos="fade-up">
            <h3>Auditoria</h3>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-search-alt-2"></i></div>
                    <h4 class="title">Auditoria de Conformidade Ambiental

                    </h4>
                    <p class="description">Auditoria de conformidade legal é um processo que permite, por meio de um
                        exame sistemático e criterioso, avaliar se as atividades desenvolvidas pela organização atendem
                        às diretrizes legais ambientais</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-search-alt-2"></i></div>
                    <h4 class="title">Auditoria de Indicadores de Sustentabilidade (GRI)

                    </h4>
                    <p class="description">Verificação dos relatórios de sustentabilidade, segundo as diretrizes da GRI,
                        onde a qualidade das informações apresentadas no relatório está atrelada ao teste de
                        materialidade, à escolha dos indicadores e ao nível de precisão das informações relatadas:
                        . Analisamos e asseguramos as informações quantitativas e qualitativas do documento, avaliando
                        os sistemas operacionais e de controles internos que serviram de base para as informações
                        contidas no relatório de sustentabilidade.
                        . Avaliação e validação da metodologia de cálculo dos indicadores das informações reportadas;
                        . Validação os indicadores de natureza financeira com as demonstrações financeiras e/ou
                        registros contábeis;
                        . Avaliação da adequação das informações aos critérios de estrutura de elaboração de padrão de
                        relatórios de sustentabilidade no padrão GRI.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-search-alt-2"></i></div>
                    <h4 class="title">Due Diligencie ESG e Princípios do Equador

                    </h4>
                    <p class="description">Condução de um profundo processo de estudo, análise e avaliação de
                        informações e evidências de diversos setores de uma empresa com foco na identificação de riscos
                        e oportunidades ESG. Utilização dos padrões definidos pela legislação brasileira, os IFC
                        Performance Standards e os EHS Guidelines do Banco Mundial.

                    </p>
                </div>
            </div>

        </div>

        <div class="section-title mt-5" data-aos="fade-up">
            <h3>Formações</h3>
        </div>


        <div class="row">
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-award"></i></div>
                    <h4 class="title">Curso Perícia Judicial Ambiental
                    </h4>
                    <p class="description">CURSO PARA VOCÊ SE TORNAR UM ASSISTENTE TÉCNICO E UM PERITO JUDICIAL
                        AMBIENTAL DE SUCESSO.
                        Objetivos:


                        Instruir os participantes para função da Perícia Judicial Ambiental e da Assistência Técnica
                        para temas ambientais à luz da Lei 13.105 de 16 de março de 2015 – Códigos de Processo Civil e a
                        Resolução Normativa no 233 de 13 de junho de 2016 do Conselho Nacional de Justiça – CNJ que
                        dispõe sobre a criação de cadastro de profissionais no âmbito da Justiça para colaboração
                        técnica na função de peritos no Brasil.
                        Além de apresentar aos participantes os conhecimentos e as experiências sobre as ferramentas,
                        metodologias e tecnologias necessárias para o exercício da perícia tais como elaboração dos
                        laudos periciais e pareceres técnicos contemplando a multidisciplinaridade da perícia judicial
                        ambiental, envolvendo as áreas de Gestão Ambiental, Química, Geografia, Geoprocessamento e
                        Direto.

                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-award"></i></div>
                    <h4 class="title">Curso de Formação de Auditor Due Diligencie ESG e Princípios do Equador
                    </h4>
                    <p class="description">Curso para você se tornar um profissional de destaque na área de
                        Sustentabilidade e ESG, aliando técnicas de auditoria de Sistemas de Gestão de QSMS aos
                        principais standards de sustentabilidade utilizados pelo mercado financeiro. Com apresentação
                        dos principais métodos e técnicas de auditoria ESG e dos princípios do Equador

                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="photo-gallery">
                <div class="container">
                    <div class="row photos">
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/1.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/1.jpeg"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/2.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/2.jpeg"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/3.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/3.jpeg"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/4.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/4.jpeg"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/5.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/5.jpeg"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/cursos2/6.jpeg"
                                data-lightbox="photos"><img class="img-fluid" src="assets/img/cursos2/6.jpeg"></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="button-curso ">
            <div data-aos="fade-up">
                <a target="_blank"
                    href="https://docs.google.com/forms/d/157Ca3k4ay54-oc2HT03xxLuCXpehZ43B6PRkb5XF4h8/viewform?edit_requested=true"
                    class="btn-get-started scrollto">QUERO CONSULTORIA</a>
            </div>
        </div>



    </section><!-- End Services Section -->



    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contato</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>ARATI</h3>
                        <p>Nossa Equipe conta com um diversificado corpo de Consultores Associados nas mais diversas
                            áreas de atuação ambiental, agilizando assim, o suporte necessário às demandas dos nossos
                            clientes atuais e futuros</p>
                        <div class="social-links">
                            <a href="https://www.youtube.com/channel/UCgud6ICRNJ_EBKSsRUj3Qsw" class="youtube"><i
                                    class="bi bi-youtube"></i></a>
                            <a href="https://www.facebook.com/aratigestaoambiental/?ref=page_internal"
                                class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/arati.gestaoambiental/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/arati-gest%C3%A3o-ambiental/?originalSubdomain=br"
                                class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p><a target="_blank" href="mailto:contato@arati.eco.br">contato@arati.eco.br</a>
                            </p>
                        </div>

                        <div>
                            <i class="bi-whatsapp"></i>
                            <p><a target="_blank"
                                    href="https://web.whatsapp.com/send?phone=5521996449321&text=Tenho%20interesse%20em%20saber%20mais%20sobre%20consultoria">+55
                                    21 99644 9321</a></p>


                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->








</main>